.login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}

.login__left {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex: 1;
}

.login__right {
    width: 100%;
    display: flex;
    flex: 1.22;
}

.login__left .img__container {
    width: 100%;
    height: 100%;
}

.login__left .overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

.login__left .img__container .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form {
    width: min(500px, 90%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 3rem;
    border: 1px solid var(--clr-primary);
}

.form__title {
    font-size: 2.5rem;
    color: var(--clr-primary);
    margin-bottom: 1.5rem;
}

.form input[type=email],
.form input[type=password] {
    font-size: 1.2rem;
}

.form input[type=email],
.form input[type=password],
.form input[type=submit] {
    width: 100%;
    display: flex;
    padding: .6rem;
    margin: .8rem 0;
    justify-content: center;
}

.form input[type=email]:focus,
.form input[type=password]:focus,
.form input[type=submit]:focus {
    outline: 1px solid var(--clr-primary-800);
}

.form input[type=submit] {
    border: none;
    font-size: 1.3rem;
    font-weight: 500;
    margin: 2rem 0;
    text-transform: capitalize;
    background-color: var(--clr-primary);
    cursor: pointer;
}

.form input[type=submit]:hover {
    background-color: var(--clr-primary-800);
}

.form .alt {
    color: var(--clr-white);
}

.form .alt a {
    color: var(--clr-primary);
    margin: 0 .5rem;
    text-decoration: underline;
}

.errors {
    color: rgb(206, 0, 0);
}

@media (max-width: 48rem) {
    .login__left {
        position: absolute;
        z-index: -1;
    }

    .form {
        background-color: rgba(0, 0, 0, .8);
    }
}