.hero__section {
    min-height: 90vh;
    display: grid;
    place-items: center;
    position: relative;
    padding-top: 2rem;
    padding-bottom: 6rem;
    background-image: none;
    background-color: var(--clr-black-800);
    z-index: 1;
}

.hero__panel__12__col {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    place-items: center;
}

.hero__col__1 {
    height: 40%;
    position: relative;
    grid-column: span 1;
}

.hero__col__2 {
    grid-column: span 5;
}

.hero__col__3 {
    grid-column: span 5;
}

.hero__col__4 {
    grid-column: span 1;
    align-self: end;
}

.hero__col__1 .hero__aside__content {
    position: absolute;
    transform-origin: 0 0;
    transform: rotate(90deg);
}

.hero__col__1 .hero__aside__content .hero__hashtag {
    font-size: 1.2rem;
    color: var(--clr-white);
    font-weight: var(--fw-400);
    font-family: var(--ff-open-sans);
    margin: 0 2.5rem 0 0;
}

.hero__col__2 .hero__intro__tag {
    margin-bottom: 2.5rem;
}

.hero__col__2 .hero__intro__tag::before {
    content: url("../../src/assets/spoon_right.svg");
    position: absolute;
    inset: auto auto -1.5rem auto;
}

.hero__col__2 .hero__intro__text {
    font-size: var(--fs-5rem);
    color: var(--clr-primary);
    font-family: var(--ff-cormorant);
    font-weight: var(--fw-700);
    text-transform: capitalize;
    margin-bottom: 2rem;
    line-height: 120%;
}

.hero__col__2 .hero__intro__desc {
    width: min(95%, 450px);
    padding-right: 4rem;
}

.hero__col__2 .hero__intro__btn:hover {
    background-color: var(--clr-primary-800);
}

.hero__col__3 .hero__img__container {
    position: relative;
    width: clamp(16.00rem, calc(11.13rem + 24.35vw), 30rem);
    height: 450px;
}

.hero__col__3 .hero__img__container .hero__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero__col__3 .hero__image__pagination {
    padding-top: 4rem;
}

.hero__col__3 .hero__image__pagination .page {
    font-size: 1.2rem;
    margin-left: -3rem;
    margin-right: 4rem;
    color: var(--clr-white);
    border: none;
    background: transparent;
    cursor: pointer;
}

.hero__col__4 .hero__scroll__btn {
    position: relative;
    background-color: var(--clr-transparent);
    color: var(--clr-primary);
    font-family: var(--ff-cormorant);
    font-weight: var(--fw-700);
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

.hero__col__4 .hero__scroll__btn::before {
    background-color: var(--clr-primary);
    position: absolute;
    top: -8rem;
    left: 50%;
    content: "";
    height: 5rem;
    width: 2px;
    pointer-events: none;
}

@media screen and (max-width: 64em) {
    .hero__col__1 {
        display: none;
    }

    .hero__col__2 {
        grid-column: span 6;
    }

    .hero__col__3 {
        grid-column: span 6;
    }

    .hero__col__4 {
        display: none;
    }
}

@media (max-width: 48em) {
    .hero__panel__12__col {
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
    }

    .hero__col__2 {
        text-align: center;
        margin-bottom: 4rem;
    }

    .hero__col__2 .hero__intro__desc {
        width: min(100%, 500px);
        margin-inline: auto;
        padding: 0;
    }

    .hero__col__3 .hero__img__container {
        height: 400px;
    }

    .hero__col__3 .hero__image__pagination {
        display: flex;
    }

    .hero__col__3 .hero__image__pagination .page {
        margin: 0 auto;
    }
}

@media (max-width: 30em) {
    .hero__col__3 .hero__img__container {
        height: 320px;
    }
}