.menu__section {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-image: none;
    background-color: var(--clr-black-800);
}

.menu__into__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .menu__intro__tag {} */

.menu__intro__tag::before {
    content: url("../src/assets/spoon_right.svg");
    position: absolute;
    inset: auto auto -2rem 50%;
    transform: translateX(-50%);
    margin: 0 auto;
}

.menu__intro__text {
    width: fit-content;
    text-align: center;
    color: var(--clr-primary);
    font-family: var(--ff-cormorant);
    text-transform: capitalize;
    margin-bottom: 4rem;
}

.menu__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    gap: 1.5rem;
    margin-bottom: 4rem;
}

.menu__menu__title {
    color: var(--clr-white);
    font-size: var(--fs-3rem);
    font-weight: var(--fw-600);
    font-family: var(--ff-cormorant);
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 1.5rem;
}

.menu__intro__btn {
    justify-self: center;
}

.menu__col__1 {
    width: min(100%, 380px);
    margin-left: auto;
}

.menu__col__2 {
    position: relative;
    overflow: hidden;
}

.menu__col__2 .menu__img__container {
    position: relative;
    width: 100%;
    width: clamp(10rem, calc(11.2rem + 10vw), 20rem);
    height: auto;
}

.menu__col__2 .menu__img__container .menu__img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.menu__col__2 .menu__img__container .menu__img__line {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.menu__col__3 {
    width: min(100%, 380px);
    margin-right: auto;
}

.menu__menu__plan {
    margin-bottom: 1.5rem;
}

.menu__plans {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__meal__name {
    position: relative;
    font-size: var(--fs-1-3rem);
    color: var(--clr-primary);
    font-family: var(--ff-cormorant);
    font-weight: var(--fw-700);
}

.menu__line {
    background-color: var(--clr-white);
    height: .5px;
    width: 30%;
    margin: 0 .5rem;
}

.menu__meal__price {
    position: relative;
    font-size: 1.3rem;
    color: var(--clr-white);
    font-family: var(--ff-cormorant);
    font-weight: var(--fw-700);
}

.menu__meal__quantity {
    color: var(--clr-white);
    font-size: .9rem;
    font-family: var(--ff-open-sans);
    font-weight: var(--fw-400);
    margin-top: .25rem;
}

.menu__intro__btn__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu__error {
    color: var(--clr-white);
}

.lds-ring {
    position: relative;
    display: grid;
    width: 100%;
    height: 100%;
    place-items: center;
}

.lds-ring div {
    display: block;
    position: absolute;
    top: 5px;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid var(--clr-primary);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--clr-primary) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@media screen and (max-width: 60em) {
    .menu__content {
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
    }

    .menu__col__1 {
        max-width: 100%;
        margin: 0 auto;
    }

    .menu__col__3 {
        max-width: 100%;
        margin: 0 auto;
    }
}