.contact__section {
    min-height: 100vh;
    position: relative;
    padding: 6rem 0;
    background: var(--clr-black-900) url("https://res.cloudinary.com/cyher/image/upload/v1679118225/texture_bg_jwvqca.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    z-index: 1;
}