.gallery__section {
    padding: 6rem 0;
}

.gallery__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 1rem;
}

.gallery__col__1 {
    width: 100%;
}

.gallery__intro__tag::before {
    content: url("../src/assets/spoon_right.svg");
    position: absolute;
    inset: auto auto -1.5rem 0;
}

.gallery__intro__text {
    position: relative;
    font-family: var(--ff-cormorant);
    color: var(--clr-primary);
    text-transform: capitalize;
    margin-bottom: 2rem;
}

.gallery__intro__desc {
    width: min(100%, 450px);
}

.gallery__gallery {
    display: grid;
    grid-auto-columns: calc(100% - 25vw);
    grid-auto-flow: column;
    gap: 1rem;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.gallery__gallery::-webkit-scrollbar {
    display: none;
}

.gallery__img__container {
    position: relative;
    max-width: 300px;
    height: 450px;
    scroll-snap-align: start;
}

.gallery__img__container::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: var(--clr-black-900);
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    z-index: 1;
}

.gallery__img__container:hover::before {
    opacity: .5;
}

.gallery__img__container .fa-instagram {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: var(--fs-3rem);
    opacity: 0;
    transition: opacity .2s ease-in-out;
    z-index: 2;
}

.gallery__img__container:hover .fa-instagram {
    opacity: 1;
}

.gallery__gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__loading {
    display: grid;
    place-items: center;
    color: var(--clr-primary);
    font-size: var(--fs-3rem);
}



@media (max-width:64em) {
    .gallery__content {
        display: grid;
        grid-template-columns: 1fr;
    }

    .gallery__col__1 {
        margin-bottom: 4rem;
    }

    .gallery__gallery {
        display: grid;
        grid-auto-columns: calc(65% - 31.72vw);
    }

}

@media (max-width:48em) {
    .gallery__gallery {
        display: grid;
        grid-auto-columns: calc(60% - 14.3vw);
    }
}

@media (max-width:30em) {
    .gallery__img__container {
        height: 300px;
    }

    .gallery__gallery {
        display: grid;
        grid-auto-columns: calc(100% - 25vw);
    }
}